body {
  margin: 10;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.horizontal-flex{
  display: -webkit-flex;
  display: flex;
  flex-direction: row; 
}

.vertical-flex{
  display: -webkit-flex;
  display: flex;
  flex-direction: column; 
}

.main-content{
  align-items: flex-start;
  justify-content: space-around;
  max-width: 1280px;
  max-height: 760px;
  flex-basis: 30%;
}

.game-state{
  flex-grow: 1;
  margin-right: 30px;
}

.game-field{
  height: 100%;
  border: 3px solid #FDB200;
}

.content-in-centre{
  justify-content: center;
}

.ship-state{
  align-content: center;
  align-items: stretch;

}

.ship-state-icon{
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 8px;
}

.huge-text{
  font-size: 110px;
}

.player-name{
  font-size: 40px;
  margin: 10px 20px 20px 20px;
  border-top: 1px solid black;
  padding: 20px 40px 0px 40px;
}

.text-in-centre{
  text-align: center;
}

.green-background{
  background-color: #25B7A2;
}

.yellow-background{
  background-color: #FFB001;
}

.aircraft{
  background-image: url("../Pics/aircraft.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  width: 50%;
  height: 100px;
  margin: 0px 10px 0px 0px;
}

.battleship{
  background-image: url("../Pics/battleship.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 50%;
  height: 100px;
  margin: 0px 10px 0px 0px;
}

.cruiser{
  background-image: url("../Pics/cruiser.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 50%;
  height: 100px;
  margin: 0px 10px 0px 0px;
}

.submarine{
  background-image: url("../Pics/submarine.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 50%;
  height: 100px;
  margin: 0px 10px 0px 0px;
}

.carrier{
  background-image: url("../Pics/carrier.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 50%;
  height: 100px;
  margin: 0px 10px 0px 0px;
}

.small-miss{
  background-image: url("../Pics/miss.small.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 25px;
  margin: 0px 25px 25px 0px
}

.small-hit{
  background-image: url("../Pics/hit.small.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 25px;
  margin: 0px 25px 25px 0px
}

.empty-cell{
  background-color: white;
  border: 0.2px;
  border-style: solid;
  border-color: #989898;
  height: 75px;
  width: 75px;
}

.big-miss{
  background-image:url("../pics/miss.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0.2px;
  border-style: solid;
  border-color: #989898;
  height: 75px;
  width: 75px;
}

.big-hit{
  background-image:url("../pics/hit.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0.2px;
  border-style: solid;
  border-color: #989898;
  height: 75px;
  width: 75px;
}
