body{
  position: fixed;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.main-content{
  display: -webkit-flex;
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.game-state{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 720px;
  margin-right: 35px;
}

.players{
  display: -webkit-flex;
  display: flex;
  flex-direction: row; 
  justify-content: center;
}

.green-player-state{
  display: -webkit-flex;
  display: flex;
  flex-direction: column; 
  background-color: #25B7A0;
  text-align: center;
  width: 50%;
  border-bottom: 1px #A89867 solid;
  border-right: 1px #A89867 solid;
  border-top:1px #A89867 solid;
}

.yellow-player-state{
  display: -webkit-flex;
  display: flex;
  flex-direction: column; 
  background-color: #FFB000;
  text-align: center;
  width: 50%;
  border-bottom: 1px #A89867 solid;
  border-left: 1px #A89867 solid;
  border-top:1px #A89867 solid;
}

.player-points{
  font-family: 'Segoe UI' sans-serif ;
  color: #494B48;
  font-size: 100px;
}

.player-name{
  font-size: 40px;
  font-family: 'Segoe UI' sans-serif ;
  color: #494B48;
  margin: 10px 30px 20px 30px;
  border-top: 1px solid #494B48;
  padding: 20px 40px 20px 40px;
}

.fleet-state{
  display: -webkit-flex;
  display: flex;
  flex-direction: column; 
  align-content: center;
  align-items: stretch;
}

.ship-state-icons{
  display: -webkit-flex;
  display: flex;
  flex-direction: row; 
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-start;
  margin-top: 20px;
}

.ship{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 50%;
  height: 80px;
  margin: 0px 40px 0px 0px;
}

.aircraft{
  background-image: url("../Pics/aircraft.png");

}

.battleship{
  background-image: url("../Pics/battleship.png");
}

.cruiser{
  background-image: url("../Pics/cruiser.png");
}

.submarine{
  background-image: url("../Pics/submarine.png");
}

.carrier{
  background-image: url("../Pics/carrier.png");
}

.ship-live{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 25px;
  margin: 0px 27px 10px 0px
}

.undamaged{
  background-image: url("../Pics/miss.small.png");
}

.damaged{
  background-image: url("../Pics/hit.small.png");
}

.game-field{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  height: 100%;
  width: 710px;
  height: 710px;
  min-width: 710px;
  outline: 4px solid #FDB200;
  border-right: 1px #989898 solid;
  border-bottom: 1px #989898 solid;
}

.game-field-row{
  display: -webkit-flex;
  display: flex;
  flex-direction: row; 
}

.cell{
  background-color: white;
  border-top: 1px solid ;
  border-left: 1px solid;
  border-color: #989898;
  height: 70px;
  width: 70px;
}

.miss-cell{
  background-image:url("../pics/miss.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.hit-cell{
  background-image:url("../pics/hit.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

